@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

:root {
    --darkfont: #24252a;
    --lightfont: #fffafa;
    --hoverblue: #298bc0;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

li, a {
    font-size: 16px;
    color: var(--lightfont);
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 30px 10%;
    background-color: var(--darkfont);
}

h1 {
    color: var(--lightfont);
    padding-bottom: 10px;
}

#icons {
    font-size: 50px;
}

.projects-header {
    padding: 30px;
    margin: auto;
    text-align: center;
}


.projects-title {
    color: var(--darkfont);
    padding: 15px;
    display: inline;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    transition: 0.3s ease 0s;
}

.nav-links li a:hover {
    color: var(--hoverblue);
}


/* Main information */
body {
    width: 100%;
    height: 55vh;
    background: #9bb3bb;
    justify-content: center;
    align-items: center;
    
}


main {
    width: 100%;
    height: 50vh;
    background: #9bb3bb;
    justify-content:center;
    align-items: center;
    display: flex;

}

.card {
    width: 320px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    border: 8px solid var(--hoverblue);
    position: relative;
    margin: 20px;
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.card-body {
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    position: absolute;
    background: #83c7dd;
    backdrop-filter: blur(5px);
    border-radius: 8px;
    color: rgb(24, 24, 24);
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.7s ease 0s;
}

.card:hover .card-body {
    right: 0;
}

.card-title {
    font-size: 38px;
    font-weight: 400;
    color: var(--lightfont);
}

.card-sub-title {
    text-transform: capitalize;
    font-size: 20px;
    padding: 5px;
}

.card-info {
    font-size: 16px;
    line-height: 25px;
    margin: 40px 0;
    font-weight: medium;
}

.card-btn {
    color: var(--lightfont);
    background: var(--hoverblue);
    margin: 8px;
    padding: 10px 20px;
    width: 120px;
    font-size: 15px;
    border-radius: 5px;
    text-transform: capitalize;
    border: none;
    outline: none;
    font-weight: medium;
    cursor: pointer;
}

button {
    color: var(--lightfont);
    background: var(--hoverblue);   
    padding: 10px 20px;
    width: 120px;
    font-size: 15px;
    border-radius: 5px;
    text-transform: capitalize;
    border: none;
    outline: none;
    font-weight: medium;
    cursor: pointer;
}

.card-btn:hover, button:hover {
    background-color: #143f57;
    backdrop-filter: blur(5px);
    color: var(--lightfont);

}


/* About section */
.logo {
    display: flex;
    justify-content: center;    
    color:var(--lightfont);
    background-color: #24252a;
    padding: 30px;
}

.about-img {
    width: auto;
    height: 100px;
}

.about-body {
    margin: 10px;
    padding: 5px;
    flex-wrap: wrap;

}


/* Contact form */
.Contact {
    line-height: 55px;
    background-color: var(--lightfont);
}

label, .Contact {
    display: flex;
    text-align: center;
    flex-direction: column;
}

.text-input {
    padding: 1%;
    outline: none;
}

input, textarea {
    font-size: 100%;

}

.submit-btn {
    padding: 2px;
    margin: 1px;
}

.footer {
    text-align: center;
    padding: 30px;
    margin: 0;
}

/* Mobile friendly specs */
@media screen and (max-width: 768px) {
    main {
      flex-direction: column;
      height: fit-content;
    }

    .card-body {
        backdrop-filter: none;
        background: #83c7dd;
        flex-wrap: wrap;
    }

    header {
        flex-direction: column;
    }
    
    .projects-title {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
    }


}